/**
  This file is for styles specific to this creative build
 */
#creative_container {
  background-color: #00aaff;
  color: #ffffff;
  padding: 10px;
  box-sizing: border-box;
  font-family: sans-serif;
  h1 {
    font-size: 24px;
    margin-bottom: 5px;
  }
}