/**
  This file is for styles specific to this creative build
 */
#creative_container {
  position: relative;
  background-color: #5d50ff;
  color: #ffffff;
  padding: 10px;
  box-sizing: border-box;
  font-family: sans-serif;
  h1 {
    font-size: 24px;
    margin-bottom: 5px;
  }
}
.bt {
  position: absolute;
  width: 100px;
  height: 70px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  &--one {
    background-color: #21933b;
    left: 10px;
    bottom: 30px;
  }
  &--two {
    background-color: #adcdff;
    right: 10px;
    bottom: 30px;
  }
}
.testimage {
  position: absolute;
  bottom: 120px;
  right: 20px;
}